<% include ../partials/header %> 
 <h3>Update Student Info - <%=student.firstName%> <%=student.lastName%></h3>
        <hr />
         <form action="/home/<%=student._id%>/fee" method="post">
             <dl class="row" align="left">
                 <dt class="col-md-3">Tuition</dt>
                 <dd class="col-md-3">$<%=student.finance.tuition %></dd>
                 <dt class="col-md-3">Update Tuition</dt>
                 <dd class="col-md-3">
                       <div class="form-group">
                         <input class="form-control" type="number" name="update[updatedTuition]" value="<%=student.finance.updatedTuition%>">
                       </div>
                  </dd>
                 <dt class="col-md-3">Number Of Credit</dt>
                 <dd class="col-md-3"><%=student.finance.credit %> <strong>Unit</strong></dd>
                 <dt class="col-md-3">Update Credit</dt>
                 <dd class="col-md-3">
                       <div class="form-group">
                         <input class="form-control" type="number" step="0.01" name="update[updatedCredit]" value="<%=student.finance.updatedCredit%>">
                       </div>
                  </dd>
                  <dt class="col-md-3">After School Program Fee</dt>
                 <dd class="col-md-3">$<%=student.finance.afterSchoolFee%></dd>
                 <dt class="col-md-3">Update After School Fee</dt>
                 <dd class="col-md-3">
                       <div class="form-group">
                         <input class="form-control" type="number" name="update[updatedAfterSchoolFee]" value="<%=student.finance.updatedAfterSchoolFee%>">
                       </div>
                  </dd>
                 <dt class="col-md-3">Insurance Fee</dt>
                 <dd class="col-md-3">$<%=student.finance.insuranceFee%></dd>
                 <dt class="col-md-3">Update Insurance Fee</dt>
                 <dd class="col-md-3">
                       <div class="form-group">
                         <input class="form-control" type="number" name="update[updatedInsuranceFee]" value="<%=student.finance.updatedInsuranceFee%>">
                       </div>
                  </dd>
                 <dt class="col-md-3">Lunch Fee</dt>
                 <dd class="col-md-3">$<%=student.finance.lunchFee%></dd>
                 <dt class="col-md-3">Update Lunch Fee</dt>
                 <dd class="col-md-3">
                       <div class="form-group">
                         <input class="form-control" type="number" name="update[updatedLunchFee]" value="<%=student.finance.updatedLunchFee%>">
                       </div>
                  </dd>
                  <button type="submit" id="updatedButton" class="btn btn-primary">Update</button>
             </dl>
        </form>
 <% include ../partials/footer %>